[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
