[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "deps/libccd"]
	path = deps/libccd
	url = https://github.com/danfis/libccd.git
[submodule "deps/fcl"]
	path = deps/fcl
	url = https://github.com/flexible-collision-library/fcl.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
